// Main
$black: #191d24;
$red: #ce3939;
$blue: #57c3e0;
$green: #a3c36c;

// Secondary
$yellow: #f2c261;

// Additional

$gray: #7c7e84;
$gray-light: #b5becc;
$gray-lighest: #f1f2f5;

// Color modifiers 